# -------------------------------------------------
# Python
# -------------------------------------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd

# -------------------------------------------------
# Virtual Environment
# -------------------------------------------------

.venv/
venv/

# -------------------------------------------------
# Environment
# -------------------------------------------------

.env
.env.*
!.env.example

# -------------------------------------------------
# IDE
# -------------------------------------------------

.vscode/
.idea/

# -------------------------------------------------
# Python caches
# -------------------------------------------------

.pytest_cache/
.ruff_cache/
.mypy_cache/

# -------------------------------------------------
# Coverage
# -------------------------------------------------

.coverage
htmlcov/

# -------------------------------------------------
# Build
# -------------------------------------------------

build/
dist/
*.egg-info/

# -------------------------------------------------
# Database
# -------------------------------------------------

*.sqlite3

# -------------------------------------------------
# Logs
# -------------------------------------------------

*.log

# -------------------------------------------------
# OS
# -------------------------------------------------

.DS_Store
Thumbs.db